@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Montserrat';
  }
}

@layer components {}

.swiper-button-pattern {
  width: 3.5rem !important;
  height: 3.5rem !important;
  transition-duration: .2s;
  scale: 1;
  border: 1px solid rgba(255, 255, 255, .5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  border-radius: 9999px;
}

.swiper-button-pattern:hover {
  scale: .9;
}

.swiper-button-pattern::after {
  font-size: 1.5rem !important;
  color: #FFF;
}

@media screen and (max-width: 991px) {
  .swiper-button-pattern {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }

  .swiper-button-pattern::after {
    font-size: .75rem !important;
  }
}