.wpcf7-response-output {
    padding: .5rem 0 !important;
    border-radius: 50px !important;
    border-color: #9333EA !important;
    font-weight: 700 !important;
    text-align: center;
    color: #FFF;
    background-color: #9333EA !important;
}